.profilePage{
    position: absolute;
    width: 100%;
    background: #FFFFFF;
}
.profileBackImage{
    display: flex;
    position: relative;
    width: 100%;
    height: 50em;
    background: url("https://i.ibb.co/DDXhfzy/bg-profile.png");
    background-size: auto 60%;
    background-repeat:  no-repeat;
    background-position: top;
    background-color: #FFFFFF;
    position: fixed;
}

.profileLoanRectangle{
    position: absolute;
    width: 144px;
    height: 50px;
    right: 50%;
    top: 132px;
    
    background: #6FE4D5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileLoanName{
    position: absolute;
    width: 128px;
    height: 25px;
    left: 18px;
    top: 13px;
    
    font-family: SF UI Text;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.profileJoinRectangle{
    position: absolute;
    width: 150px;
    height: 50px;
    right: 45%;
    top: 240px;

    background: #BB91F3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileJoinName{
    position: absolute;
    width: 144px;
    height: 25px;
    left: 2px;
    top: 10px;
    
    font-family: SF UI Text;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    
    color: #FFFFFF;
}

.cashbackText{
    position: absolute;
    width: 144px;
    height: 25px;
    left: 49%;
    top: 315px;
    
    font-family: SF UI Text;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.avatarContainer{
    position: absolute;
    left: 15px;
    right: 0px;
    top: 15px;
    bottom: 8.29px;
}

.userName{
    position: absolute;
    width: 100Spx;
    height: 36px;
    left: 27%;
    top: 40px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.408px;

    color: #000000;

}

.profileAskRectangle{
    position: absolute;
    width: 144px;
    height: 50px;
    left: 48%;
    top: 395px;

    background: #0059F1;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.profileAskName{
    position: absolute;
    width: 128px;
    height: 25px;
    left: 5px;
    top: 10px;
    
    font-family: SF UI Text;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    
    color: #FFFFFF;
}